@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: "Eurostile Extd";
    src: url("../fonts/EurostileExt-Bla.woff2") format("woff2"),
        url("../fonts/EurostileExt-Bla.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Eurostile Extd";
    src: url("../fonts/EurostileExt-Med.woff2") format("woff2"),
        url("../fonts/EurostileExt-Med.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-azul: #1e22aa;
    --color-light-grey: #f4f4f4;
    --color-laranja: #ff671d;
    --color-preto-impuro: #1d1d1d;
    --color-grey-text: #cfcfcf;

    --font-arimo: "Arimo";
    --font-courier: "Courier Prime";
    --font-eurostile: "Eurostile Extd";
    --default-font-family: "Arimo";
}

.margin-website {
    @apply xl:px-[137px];
}

.text-base {
    @apply xl:text-[17px] xl:leading-[26px] tracking-[0.03em];
}

.gradient-black-blue {
    background: #000;
    background: -webkit-linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(30, 34, 170, 1) 100%
    );
    background: -moz-linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(30, 34, 170, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(30, 34, 170, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#1E22AA", GradientType=0);
}

.gradient-black-white {
    background: #0a0a0a;
    background: -webkit-linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 100%
    );
    background: -moz-linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 100%
    );
    z-index: 10;
    height: 40%;
    filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#0A0A0A",
  endColorstr="#FFFFFF",
  GradientType=0
);
}

.gradient-black-white-news {
    background: #0a0a0a;
    background: -webkit-linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 40%
    );
    background: -moz-linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 40%
    );
    background: linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 40%
    );
    z-index: 10;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#0A0A0A",
  endColorstr="#FFFFFF",
  GradientType=0
);
}

.gradient-black-white-news2 {
    background: #0a0a0a;
    background: -webkit-linear-gradient(
        0deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 40%
    );
    background: -moz-linear-gradient(
        0deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 40%
    );
    background: linear-gradient(
        0deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 40%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0A0A0A", endColorstr="#FFFFFF", GradientType=0);
}

.gradient-blue {
    background: #1e22aa;
    background: -webkit-linear-gradient(
        0deg,
        rgba(30, 34, 170, 1) 5%,
        rgba(20, 29, 104, 1) 100%
    );
    background: -moz-linear-gradient(
        0deg,
        rgba(30, 34, 170, 1) 5%,
        rgba(20, 29, 104, 1) 100%
    );
    background: linear-gradient(
        0deg,
        rgba(30, 34, 170, 1) 5%,
        rgba(20, 29, 104, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#1E22AA",
  endColorstr="#141D68",
  GradientType=0
);
}

.gradient-blue-white {
    background: #23274b;
    background: -webkit-linear-gradient(
        90deg,
        rrgba(10, 10, 10, 0.6) 38%,
        rgba(255, 255, 255, 0) 100%
    );
    background: -moz-linear-gradient(
        90deg,
        rgba(10, 10, 10, 0.6) 38%,
        rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(10, 10, 10, 0.6) 38%,
        rgba(255, 255, 255, 0) 100%
    );
    width: 50%;
    filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#23274B",
  endColorstr="#FFFFFF00",
  GradientType=1
);
}
/*** slider **/

.swiper {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.swiper-slide {
    background: #444;
    height: 450px;
    width: 729px;
}
