@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: "Eurostile Extd";
    src:
        url("../fonts/EurostileExt-Bla.woff2") format("woff2"),
        url("../fonts/EurostileExt-Bla.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Eurostile Extd";
    src:
        url("../fonts/EurostileExt-Med.woff2") format("woff2"),
        url("../fonts/EurostileExt-Med.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-azul: #1e22aa;
    --color-light-grey: #f4f4f4;
    --color-laranja: #ff671d;
    --color-preto-impuro: #1d1d1d;
    --color-grey-text: #cfcfcf;

    --font-arimo: "Arimo";
    --font-courier: "Courier Prime";
    --font-eurostile: "Eurostile Extd";
    --default-font-family: "Arimo";

    --breakpoint-3xl: 106.25rem;
    --breakpoint-4xl: 137.5rem; /* 2200px */
    --breakpoint-5xl: 120rem; /* 1920px */
    --breakpoint-6xl: 89.063; /* 1425px */
}

:root {
    --vh: 100%;
}

html,
body {
    overflow-x: hidden;
}

body {
    overflow: hidden;
}

.margin-website {
    @apply px-8 md:px-[80px] lg:px-[100px] xl:px-[137px]  4xl:px-[250px];
}

.text-base {
    @apply text-[14px] leading-[18px]  md:text-[15px] md:leading-[22px] xl:text-[17px] xl:leading-[24px] tracking-[0.03em];
}

.area-componets {
    @apply flex z-20 w-full grid grid-cols-2 md:grid-cols-3 gap-2 md:gap-8 xl:gap-11 xl:flex-row;
}

.link-menu {
    @apply font-eurostile md:text-[35px] md:leading-[50px] lg:text-[40px] lg:leading-[59px] xl:text-[45px] xl:leading-[40px] font-medium text-[20px] leading-[22px] text-white uppercase hover:text-laranja duration-300 transition-all;
}

.link-number {
    @apply text-laranja font-medium xl:text-[17px] text-[10px] leading-[0px] pl-3;
}

.button-laranja {
    @apply text-[12px] md:text-[14px] lg:text-[15px] xl:text-[17px]  duration-300 transition-all hover:text-white hover:border-white text-laranja border-2 xl:border-3 border-laranja uppercase rounded-[40px] py-1 xl:py-1 cursor-pointer font-bold px-2 xl:px-4;
}

.button-laranja-blue {
    @apply duration-300 transition-all lg:text-[15px] xl:text-[17px]  hover:text-azul hover:border-azul text-laranja border-2 xl:border-3 border-laranja uppercase rounded-[40px] xl:py-1 cursor-pointer font-medium xl:font-bold px-2 xl:px-4;
}

.hamburguer-menu {
    @apply cursor-pointer h-3.5 lg:h-4 xl:h-[18px];
}

.change-language {
    @apply text-white font-eurostile font-medium text-[14px] lg:text-[14px] xl:text-[14px] xl:text-[22px] xl:leading-[22px] pt-1 xl:pt-2 cursor-pointer hover:text-laranja duration-300;
}

.company-overview {
    @apply xl:max-h-[240px] w-full grid grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 px-8  2xl:px-40 4xl:px-60 py-5 lg:py-10 xl:py-10;
}

.history-line {
    @apply flex items-start lg:max-h-[150px] xl:max-h-[176px] z-20 flex-col lg:flex-row;
}

.history-line img {
    @apply lg:h-[150px] xl:h-[146px];
}

.arrow-mobile {
    @apply z-20 xl:hidden mt-2;
}

.certification-box {
    @apply px-6 lg:px-4 xl:px-8 2xl:px-10 xl:pt-4 relative flex flex-col justify-center items-center xl:items-center xl:justify-start;
}

.partner-mobile {
    @apply flex gap-3 mt-5 justify-center;
}

.form-title {
    @apply text-[14px] md:text-[17px] xl:text-[17px] xl:leading-[20px] tracking-[0.03em] font-bold;
}

.form-container > div {
    @apply pt-4 md:pt-6 xl:pt-5;
}

.form-container input {
    @apply w-full bg-light-grey rounded-[40px] mt-2 xl:mt-3 xl:py-1 px-4 text-azul outline-none text-[15px] h-9;
}

.form-container button {
    @apply w-full  xl:w-auto mt-5 text-laranja uppercase border-2 border-laranja font-bold rounded-[40px] py-1 px-8 text-[16px] xl:text-[20px] duration-300 transition-all  cursor-pointer;
}

.expertise-container {
    @apply xl:max-h-[400px] 2xl:max-h-[561px] flex flex-col xl:flex-row xl:gap-24 4xl:gap-40 items-center mt-15 xl:mt-[95];
}

.info p,
.text-base p {
    @apply pb-2 xl:pb-4;
}

.text-ambient h2 {
    @apply md:text-[20px] md:leading-[28px] xl:text-[20px] xl:leading-[26px] tracking-[0.03em] md:mt-3 xl:mt-5;
}

.text-ambient img {
    @apply pr-2 xl:pr-3 md:h-12 lg:h-auto;
}

.people-text strong {
    @apply text-laranja font-normal;
}

.top-line {
    @apply lg:pr-[200px] lg:pl-[180px] 6xl:pl-[230px] 6xl:pr-[200px] xl:pl-[220px] xl:pr-[130px] 2xl:pl-[200px] 3xl:pl-[290px] 2xl:pr-[220px] 3xl:pr-[280px] 5xl:pr-[350px] 4xl:px-[580px];
}

.bottom-line {
    @apply lg:pr-[80px] lg:pl-[240px] 6xl:pr-[100px] xl:pl-[280px] xl:pr-[100px] 3xl:pl-[400px] 2xl:px-[320px] 2xl:pr-[220px] 3xl:pr-[250px] 5xl:pl-[450px] 5xl:pr-[450px] 4xl:px-[700px];
}

.sector {
    @apply md:w-[450px] lg:w-[600px] xl:w-[700px] 2xl:w-[800px] 4xl:w-[1228px] 3xl:w-[1000px];
}

.tecnology {
    @apply w-screen xl:w-[700px] 2xl:w-[800px] 4xl:w-[1228px] 3xl:w-[1000px];
}
.tecnology video {
    @apply w-screen  md:h-[250px] lg:h-[330px] xl:h-[400px] 2xl:h-[450px] h-[200px] 3xl:h-[470px];
}

.sector img,
.sector video {
    @apply md:h-[250px] lg:h-[300px] xl:h-[400px] 2xl:h-[450px] h-[200px] 3xl:h-[470px];
}
.gradiente-menu {
    background: rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(255, 255, 255, 0) 34%
    );
    background: -moz-linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(255, 255, 255, 0) 34%
    );
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(255, 255, 255, 0) 34%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#FFFFFF", GradientType=0);
}
.gradient-black-blue {
    background: #000;
    background: -webkit-linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(30, 34, 170, 1) 100%
    );
    background: -moz-linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(30, 34, 170, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(30, 34, 170, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#1E22AA", GradientType=0);
}

.gradient-black-white {
    background: #0a0a0a;
    background: -webkit-linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 100%
    );
    background: -moz-linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 100%
    );
    z-index: 10;
    height: 40%;
    filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#0A0A0A",
  endColorstr="#FFFFFF",
  GradientType=0
);
}

@media only screen and (max-width: 600px) {
    .gradient-black-white {
        background: #0a0a0a;
        background: -webkit-linear-gradient(
            180deg,
            rgba(10, 10, 10, 0.55) 55%,
            rgba(255, 255, 255, 0) 100%
        );
        background: -moz-linear-gradient(
            180deg,
            rgba(10, 10, 10, 0.55) 55%,
            rgba(255, 255, 255, 0) 100%
        );
        background: linear-gradient(
            180deg,
            rgba(10, 10, 10, 0.55) 55%,
            rgba(255, 255, 255, 0) 100%
        );
        z-index: 10;
        height: 100%;
        filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#0A0A0A",
  endColorstr="#FFFFFF",
  GradientType=0
);
    }
}

.gradient-black-white-news {
    background: #0a0a0a;
    background: -webkit-linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 40%
    );
    background: -moz-linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 40%
    );
    background: linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 40%
    );
    z-index: 10;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#0A0A0A",
  endColorstr="#FFFFFF",
  GradientType=0
);
}

.gradient-black-white-news2 {
    background: #0a0a0a;
    background: -webkit-linear-gradient(
        0deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 40%
    );
    background: -moz-linear-gradient(
        0deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 40%
    );
    background: linear-gradient(
        0deg,
        rgba(10, 10, 10, 0.6) 5%,
        rgba(255, 255, 255, 0) 40%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0A0A0A", endColorstr="#FFFFFF", GradientType=0);
}

.gradient-blue {
    background: #1e22aa;
    background: -webkit-linear-gradient(
        180deg,
        rgba(30, 34, 170, 1) 0%,
        rgba(20, 29, 104, 1) 88%
    );
    background: -moz-linear-gradient(
        180deg,
        rgba(30, 34, 170, 1) 0%,
        rgba(20, 29, 104, 1) 88%
    );
    background: linear-gradient(
        180deg,
        rgba(30, 34, 170, 1) 0%,
        rgba(20, 29, 104, 1) 88%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#1E22AA",
  endColorstr="#141D68",
  GradientType=0
);
}

.gradient-blue-white {
    background: #23274b;
    background: -webkit-linear-gradient(
        90deg,
        rrgba(10, 10, 10, 0.6) 38%,
        rgba(255, 255, 255, 0) 100%
    );
    background: -moz-linear-gradient(
        90deg,
        rgba(10, 10, 10, 0.6) 38%,
        rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(10, 10, 10, 0.6) 38%,
        rgba(255, 255, 255, 0) 100%
    );
    width: 50%;
    filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#23274B",
  endColorstr="#FFFFFF00",
  GradientType=1
);
}

.gradient-map {
    background: #1a2050;
    background: -webkit-linear-gradient(
        180deg,
        rgba(26, 32, 80, 1) 0%,
        rgba(30, 34, 170, 1) 70%
    );
    background: -moz-linear-gradient(
        180deg,
        rgba(26, 32, 80, 1) 0%,
        rgba(30, 34, 170, 1) 70%
    );
    background: linear-gradient(
        180deg,
        rgba(26, 32, 80, 1) 0%,
        rgba(30, 34, 170, 1) 70%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#1A2050",
  endColorstr="#1E22AA",
  GradientType=0
);
}
/*** slider **/
.my-swiper {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.my-swiper-slide {
    height: 450px;
    width: 729px;
}

@media only screen and (max-width: 1520px) {
    .my-swiper {
        height: 320px;
    }
    .my-swiper-slide {
        height: 320px;
    }
}

@media only screen and (max-width: 1300px) {
    .my-swiper {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }
    .my-swiper-slide {
        height: 250px;
        width: 100px;
    }
}

@media only screen and (max-width: 1024px) {
    .my-swiper {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }
    .my-swiper-slide {
        height: 250px;
        width: 100px;
    }
}

@media only screen and (max-width: 900px) {
    .my-swiper {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }
    .my-swiper-slide {
        height: 250px;
        width: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .my-swiper {
        width: 100%;
        height: 220px;
        overflow: hidden;
    }
    .my-swiper-slide {
        height: 220px;
        width: 100px;
    }
}

.shadow-partner {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.custom-file {
    display: inline-block;
    width: 130px !important;
    background: #ff671d;
    padding: 6px 30px;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
    .custom-file {
        width: 120px !important;
        padding: 6px 30px;
        border-radius: 40px;
        color: #fff;
        cursor: pointer;
        font-family: sans-serif;
        width: 100px;
    }
}
